{% extends "base.html" %}
{% block body %}
<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item active" href="#">Home</a>
      <a class="blog-nav-item" href="#">About</a>
    </nav>
  </div>
</div>
<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">Ryoon Blog</h1>
    <p class="lead blog-description">The first blog created by Ryoon</p>
  </div>
</div>
{% for article in article_list %}
<div>{{ article.title }}</div>
<div>{{ article.content }}</div>
{% endfor %}
{% endblock %}
